body {
    font-family: 'Lora', serif;
    color: black;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
   }

.jumbotron{
	background-image: url('img/skyline.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}